/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2014, 10:24:25 PM
    Author     : daniel
*/

.cdf-editarea-processed + iframe {
  width: 100% !important;
}

.cdf-editarea-processed ~ .grippie {
  display: none !important;
}