/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2014, 10:24:25 PM
    Author     : daniel
*/

table.field-ui-overview tr.region-add-cdf-title {
  display: none;
}

.cdf-description {
  color: #666666;
  font-size: 0.923em;
  line-height: 1.231em;  
}

.cdf-operations > * {
  display: inline-block;
}

.cdf-operations > a {
  margin-left: 1em;
}

.cdf-operations > *:first-child > label:after {
  content: ':';
  margin-left: -0.3em;
}
